@import "vars";
@import "mixins";

#sub-visual {
  height: 550px;
  background: url("../images/main/bg_main_visual.jpg") no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  .container {
    display: flex;
    position: relative;
  }
  .sub-title {
    font-size: $h1;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    span {
      display: block;
      padding-bottom: 20px;
      border-bottom: 5px solid $point-color;
    }
  }
  .bg {
    position: absolute;
    height: 430px;
    max-width: 1280px;
    width: calc(100vw - 400px);
    left: 400px;
    bottom: 0;
    border-radius: 100px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.sub-visual01 .bg {
  background-image: url("../images/sub-contents/about_visual.jpg");
}
.sub-visual05 .bg {
  background-image: url("../images/sub-contents/community_visual.jpg");
}

#lnb {
  background-color: $main-color;
  color: #fff;
  .container {
    display: flex;
    height: 65px;
    .home {
      width: 65px;
      background: url("../images/sub-contents/icon_home.png") no-repeat 50%;
      overflow: hidden;
      text-indent: -999px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    .lnb-box {
      width: 300px;
      font-size: 16px;
      font-weight: 500;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      position: relative;
      &:nth-last-child(1) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
      }
      > a {
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 65px;
        justify-content: space-between;
        &:after {
          @include icon("\f055");
          font-size: 24px;
        }
      }
      ul {
        position: absolute;
        background-color: #fff;
        width: 100%;
        display: none;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
        a {
          height: 65px;
          display: flex;
          align-items: center;
          padding-left: 30px;
          color: #111;
          border-top: 1px solid #fff;
          transition: all 0.25s ease;
          &:hover {
            background-color: $main-color;
            color: #fff;
          }
        }
      }
    }
  }
}

#sub-contents {
  min-height: 600px;
  padding: 100px 0;
}
.contents-title {
  font-size: $h2;
  font-weight: 700;
  padding: 100px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents-visual {
  margin-top: 100px;
  display: flex;
  margin-right: -20px;
  > div {
    flex-basis: 50%;
    height: 400px;
    box-sizing: border-box;
  }
  .left-contents {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .txt {
      position: absolute;
      color: #fff;
      left: 50px;
      bottom: 50px;
      font-size: $h2;
      line-height: 1.5;
      font-weight: 300;
      strong {
        font-weight: 700;
      }
    }
  }
  .right-contents {
    background: url("../images/sub-contents/history_ban_bg.png") no-repeat right -50px bottom -50px darken($main-color, 20);
    color: #fff;
    padding: 50px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-top: 20px;
    position: relative;
    .txt-box {
      .txt {
        font-size: $h3;
        color: rgba(255, 255, 255, 0.5);
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        strong {
          font-size: $h2;
          font-weight: 700;
          display: block;
          margin-top: 30px;
          color: rgba(255, 255, 255, 1);
        }
      }
      .title {
        text-transform: uppercase;
        line-height: 1.5;
        font-size: $h3;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@import "greeting.scss";
//@import "history.scss";
.history {
  .scroll-menu {
    ul {
      display: flex;
      justify-content: center;
      li {
        flex-basis: 250px;
        height: 80px;
        background-color: #ccc;
        @include flex;
        margin: 0 5px;
        font-size: $h4;
        font-weight: 500;
        cursor: pointer;
        &.on {
          background-color: $main-color;
          color: #fff;
        }
      }
    }
  }
  .history-list {
    ul {
      padding: 50px 0;
      margin: 50px 0;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 50%;
        background-color: #ccc;
      }
      li {
        display: flex;
        margin: 50px 0;
        &:nth-child(odd) {
          justify-content: flex-end;
          img {
            left: auto;
            right: 0;
          }
        }
        &:nth-child(even) {
          text-align: right;
          .year-box .year:before {
            left: auto;
            right: -55px;
          }
        }

        .year-box {
          width: 50%;
          padding: 0 50px;
          box-sizing: border-box;
          color: #999;
          .year {
            display: block;
            font-size: $h2;
            font-weight: 500;
            margin-bottom: 20px;
            color: #111;
            position: relative;
            &:before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 100px;
              border: 3px solid $main-color;
              top: 50%;
              transform: translateY(-50%);
              left: -55px;
              position: absolute;
              box-sizing: border-box;
              background-color: #fff;
            }
          }
        }
        img {
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .chairman-list,
  .chairman-list02 {
    min-height: 500px;
    padding-top: 100px;
    display: flex;
    h4 {
      font-size: $h2;
      font-weight: 300;
      flex-shrink: 0;
      width: 180px;
      strong {
        font-weight: 700;
        color: $main-color;
      }
    }
    .list {
      flex-grow: 1;
      margin-left: 100px;
    }
  }
  .chairman-list {
    .list {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          box-sizing: border-box;
          width: calc(25% - 10px);
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 10px;
          text-align: center;
          padding: 30px 0;
          .name {
            color: $main-color;
            font-size: $h3;
            font-weight: 700;
            margin-bottom: 20px;
          }
          .period {
            &:before {
              content: "";
              display: block;
              width: 30px;
              height: 1px;
              margin: 30px auto;
              background-color: $main-color;
            }
          }
        }
      }
    }
  }
  .chairman-list02 {
    .list {
      display: table;
      border-top: 2px solid #111;
      ul {
        display: table-row-group;
        li {
          display: table-row;
          &:nth-child(even) {
            //background-color: #eee;
          }
          span {
            display: table-cell;
            border-bottom: 1px solid #eee;
            vertical-align: middle;
            padding: 0 20px;
            text-align: center;
            border-right: 1px solid #eee;
            &.name {
              width: 100px;
            }
            &.position {
              width: 300px;
            }
            &.period {
              border-right: none;
            }
          }
        }
      }
    }
  }
}
